include CostPackage/Passenger/Hard/*.csv
include CostPackage/Passenger/Soft/*.csv
include CostPackage/Maintenance/*.csv
include CostPackage/Crew/*.csv
include CostPackage/Aircraft/*.csv
include CostPackage/Airport/*.csv
include CostPackage/Curfew/*.csv